**KPI's**

In [30]:
import pandas as pd

In [48]:
kpi_ytd = pd.read_csv('./data/206/KPI-by-day-2020.csv')

kpi_ytd.rename(columns={"Store Ticket Count": "Car Count", "Net Sales Amount": "Net Sales", "Ticket Average Net": "Ticket Avg", "Cost of Goods as a Percent of Net Sales": "COGS %", "Labor Percent of Net Sales": "Labor %"}, inplace=True)

kpi_ytd.drop(columns=['Date', 'Cost of Goods Sold Amount'], inplace=True)

In [51]:
kpi_ytd.to_csv('./datasets/df_kpi.csv')

In [50]:
df_ytd = pd.read_csv('./data/206/Total Sales Summary-YTD.csv')

df_ytd.drop(columns=['Unnamed: 0', 'Gross', 'Gross.1', 'Unnamed: 4', 'Unnamed: 11', 'Unnamed: 10'],axis=1, inplace=True)

df_ytd.columns = df_ytd.iloc[0]
df_ytd = df_ytd[1:]

df_ytd = df_ytd.reset_index(drop=True)

df_ytd.rename(columns={"Invoice Count": "Car Count", "Net Amounts": "Net Sales", "Cost of Goods Sold Amount": "COGS"}, inplace=True)

df_ytd.head()

0 Car Count     Net Amount Ticket Average         COGS         Margin Margin %
0    18,410  $1,925,487.12        $104.59  $385,742.11  $1,539,745.01      80%
1     4,969    $623,672.45        $125.51  $132,350.86    $491,321.59      79%
2    13,441  $1,301,814.67         $96.85  $253,391.25  $1,048,423.42      81%
3     2,590    $324,901.08        $125.44   $74,286.59    $250,614.49      77%
4    15,820  $1,600,586.04        $101.17  $311,455.52  $1,289,130.52      81%

In [ ]:
df_ytd.to_csv('./datasets/KPI-YTD.csv')

In [17]:
df_mtd = pd.read_csv('./data/206/Total Sales Summary-MTD.csv')

df_mtd.drop(columns=['Unnamed: 0', 'Gross', 'Gross.1', 'Unnamed: 4', 'Unnamed: 11', 'Unnamed: 10'],axis=1, inplace=True)

df_mtd.columns = df_ytd.iloc[0]
df_mtd = df_ytd[1:]

df_mtd = df_mtd.reset_index(drop=True)

df_mtd.rename(columns={"Invoice Count": "Car Count", "Net Amounts": "Net Sales", "Cost of Goods Sold Amount": "COGS"}, inplace=True)

df_mtd.head()

df_mtd.to_csv('./datasets/KPI-MTD.csv')

In [16]:
df_wtd = pd.read_csv('./data/206/Total Sales Summary-WTD.csv')

df_wtd.drop(columns=['Unnamed: 0', 'Gross', 'Gross.1', 'Unnamed: 4', 'Unnamed: 11', 'Unnamed: 10'],axis=1, inplace=True)

df_wtd.columns = df_ytd.iloc[0]
df_wtd = df_ytd[1:]

df_wtd = df_wtd.reset_index(drop=True)

df_wtd.rename(columns={"Invoice Count": "Car Count", "Net Amounts": "Net Sales", "Cost of Goods Sold Amount": "COGS"}, inplace=True)

df_wtd.head()

df_wtd.to_csv('./datasets/KPI-WTD.csv')